src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="sub-invoices-getAll" doc:id="5ddd7b31-f2a9-446e-8a81-d0dc46f281af" >
		<sftp:read doc:name="Read" doc:id="dbfcb1e2-9400-4225-b956-70a97322bd0d" config-ref="SFTP_Config" path="invoices.json"/>
		<ee:transform doc:name="Transform Message" doc:id="54e45901-53c5-437d-8239-316768db3a77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json

var currencyParam = vars.currency

var filteredByCurrency =
    if (currencyParam == null)
        payload
    else
        payload filter (
            upper($.data.currency) == upper(currencyParam)
        )

fun formatDate(date) = 
date as DateTime {format: "yyyy/MM/dd hh:mm:ss"}
---

filteredByCurrency map(
    (invoice,index)-> do
        {
            var item = invoice.data
            var itemAddress = item.customer_address
            var lineItem =  item.lines.data
            
            ---
                {
                    "id" : item.id,
                    "total" : sum(lineItem.amount),
                    "currency": upper(item.currency),
                    "date": formatDate(item.created),
                    "customer":
                    {
                        "id" : item.customer,
                        "city": itemAddress.city,
                        "country": itemAddress.country,
                        "postalCode": itemAddress.postal_code,
                        "email": item.customer_email,
                        "name": item.customer_name,
                        "phone": item.customer_phone,
                        "lineItems":
                        {
                            "id": lineItem.id,
                            "amount": lineItem.amount
                        }
                    }
                }
        }
    )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2b6a8279-f776-49da-b736-16659f51b432" />
	</flow>
	<flow name="sub-invoice-getById" doc:id="ab0ddc4d-c12c-4e14-82cd-d3521100aa17" >
		<sftp:read doc:name="Read" doc:id="03f7eefc-973d-4782-bf63-61332bcf5410" config-ref="SFTP_Config" path="invoices.json"/>
		<ee:transform doc:name="Transform Message" doc:id="4bf283ac-be28-4ab4-a67a-0dc69180366e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json

var invoiceIdParam = vars.invoiceId

var filteredById =
    if (invoiceIdParam == null)
        payload
    else
        payload filter (
            upper($.data.id) == upper(invoiceIdParam)
        )

fun formatDate(date) = 
date as DateTime {format: "yyyy/MM/dd hh:mm:ss"}
---

filteredById map(
    (invoice,index)-> do
        {
            var item = invoice.data
            var itemAddress = item.customer_address
            var lineItem =  item.lines.data
            
            ---
                {
                    "id" : item.id,
                    "total" : sum(lineItem.amount),
                    "currency": upper(item.currency),
                    "date": formatDate(item.created),
                    "customer":
                    {
                        "id" : item.customer,
                        "city": itemAddress.city,
                        "country": itemAddress.country,
                        "postalCode": itemAddress.postal_code,
                        "email": item.customer_email,
                        "name": item.customer_name,
                        "phone": item.customer_phone,
                        "lineItems":
                        {
                            "id": lineItem.id,
                            "amount": lineItem.amount
                        }
                    }
                }
        }
    )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="94eb7737-ff99-494b-a720-104f5a3218d0" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:SORRY" />
		</validation:is-not-empty-collection>
		<logger level="INFO" doc:name="Logger" doc:id="8e190686-c789-45c8-967a-e483f7f55ef3" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b4e0fddf-f9b4-4b4d-9fb8-a2affa4fc37d" type="APP:SORRY">
				<set-payload value='#[output json&#10;---&#10;message: "invoice not found for customer " ++ (vars.invoiceId default "unknown")]' doc:name="Invoice not found" doc:id="a99a3bbd-4d3a-4a2e-ad51-bdaf6e500514" mimeType="application/json"/>
				<set-variable value="707" doc:name="[httpStatus]" doc:id="f89d00f3-e4f2-4461-a16f-db9ea8c057ee" variableName="httpStatus" mimeType="application/json"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="impl-get-absences-every-day" doc:id="59d5bcdf-eb71-4c60-a865-951f1a0cfcca" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="d08d1c59-c008-4f13-a88e-5f8a0d0ac4f5" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="DAYS" />
			
</scheduling-strategy>
		</scheduler>
		<sftp:read doc:name="Read" doc:id="9f14c5a8-7c54-469d-91e5-1e788572a703" config-ref="SFTP_Config" path="${sftp.fn}" outputMimeType='application/csv'/>
		<ee:transform doc:name="Transform Message" doc:id="48fb1925-6e99-4760-9d28-ca01a8c58c6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv 


fun typeOccupationFunction(texte)=(
 texte match {
        case "ACCT" -> "M"
        case "CLD"  -> "M"
        case "LM"   -> "M"
        case "CLM"  -> "M"
        case "MO"  -> "M"
        case "MP"-> "M"
        else -> texte
    }
)

fun natureOccupation(nature)=(
    nature match {
        case "ACCT" -> "Accident de travail"
        case "CLD" -> "Congé longue durée"
        case "LM"-> "Congé longue maladie"
        case "MO" -> "Congé maladie ordinaire"
        case "MP"-> "Maladie professionnelle"
        else -> nature
    }
)
fun operationFunction(operation)=(
    if (operation == "SUP") "S"
    else if (operation == "CRE") "X"
    else operation
)

fun dateFunction(dateField, jour)=(
     (dateField as Date {format: "dd/MM/yyyy"} as String {format: "yyyyMMdd"}) ++ "000000 " ++ jour
)
---

payload map (item)-> do{
  var itemLine = valuesOf(item)[0] as String
    var fields = itemLine splitBy ";"
    ---
    {
    "matricule" : fields[1],
    "codeCentre": "",
    "typeOccupation" : typeOccupationFunction(fields[6]),
    "natureOccupation": natureOccupation(fields[6]),
    "dateDebut": dateFunction(fields[2], fields[8]),
    "dateFin": dateFunction(fields[3], fields[8]),
    "statut": "",
    "poids": "",
    "tempsTravail": "",
    tempsPresenceHeures: "",
    tempsPresenceMinutes: "",
    idTypeCompteur: "",
    nbTitreRestaurant: "",
    commentaire: "",
    "operation": operationFunction(fields[0])
    }
}





]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="46462a6b-c201-425b-b688-8967e338df7e" message="#[payload]"/>
		<sftp:write doc:name="Write Absences file" doc:id="e98f25b1-ab81-4b3b-99b4-cf2c576d86c8" config-ref="SFTP_Config" path="/upload/theu/Frederic/Absences.csv"/>
		<sftp:read doc:name="Read file created" doc:id="dd3857bc-f2c0-467a-a796-0596dfec1513" config-ref="SFTP_Config" path="/upload/theu/Frederic/Absences.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="c4f07000-c475-4e16-be85-25ed09f98f7e" message="#[payload]"/>
	</flow>
	<flow name="sub-product-getAll" doc:id="0dc22d9e-ad4d-453f-b6aa-71941c1fbb78" >
		<logger level="INFO" doc:name="Start" doc:id="48b18779-2dea-490f-a89d-3648ebce2c25" message='#[{&#10;	"step" :"Start getAll product flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : vars.category&#10;		}&#10;	}&#10;}]' />
		<sftp:read doc:name="Read" doc:id="ed173b56-38f9-4188-bc21-5f78948d8b61" config-ref="SFTP_Config" path="${sftp.fn}" />
		<ee:transform doc:name="Transform Message" doc:id="5159a964-060a-47f9-9c61-1d1eb44e5ac9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json

var categoryParam = vars.category

var filteredByCategory =
    if (categoryParam == null)
        payload
    else
        payload filter (
            $.category == categoryParam
        )


---

filteredByCategory map(item) -> {
	  "id": item.id as Number,
        "name": item.name as String,
        "category": item.category as String,
        "price": item.price as Number,
        "stock": item.stock as Number
}


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="7e4af220-9a84-494d-bfd4-aa07d285f19e" message='#[{&#10;	"step" :"End getAll product flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : payload&#10;		}&#10;	}&#10;}]'/>
	</flow>
	<flow name="sub-product-create" doc:id="41526f15-c1ad-4885-80f0-0aef1df2da92" >
		<logger level="INFO" doc:name="Start" doc:id="3f4e1dbe-a659-434c-ace8-1111b0244c70" message='#[{&#10;	"step" :"Start createProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : vars.product&#10;		}&#10;	}&#10;}]' />
		<sftp:read doc:name="Read" doc:id="a87b5b0c-cf3f-470f-9c34-aa8910b43c7f" config-ref="SFTP_Config" path="${sftp.fn}" />
		<set-variable value="#[output json&#10;&#10;var productAdded = vars.product&#10;&#10;var filteredById =&#10;        payload filter (&#10;            $.id == (productAdded.id) as String&#10;        )&#10;&#10;---&#10;&#10;filteredById]" doc:name="[searchId]" doc:id="c2ada3d6-e791-4b8e-bfd0-53c2b19ee90d" variableName="searchId"/>
		<logger level="INFO" doc:name="MID" doc:id="1585a2a9-a08a-4ae0-9260-c9ad3cbbac21" message='#[{&#10;	"step" :"Mid createProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : vars.search&#10;		}&#10;	}&#10;}]' />
		<validation:is-empty-collection doc:name="Is empty collection" doc:id="4c5463b9-2a60-4358-ae97-9464f57845b5" values="#[vars.searchId]">
		</validation:is-empty-collection>
		<logger level="INFO" doc:name="Mid2" doc:id="01bbc40d-48cf-434b-94cb-04ca6facf523" message='#[{&#10;	"step" :"Mid2 createProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : payload&#10;		}&#10;	}&#10;}]' />
		<ee:transform doc:name="Transform Message" doc:id="fa670f39-2f68-413e-b9bc-c3b68294323f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output csv header = false

var item = vars.product
---
{
  id: item.id as Number,
  name: item.name as String,
  category: item.category as String,
  price:item.price as Number,
  stock: item.stock as Number
}

/*vars.product update {
	case .id : $.id as Number
	case .name : $.name as String
    case .category : $.category as String
    case .price : $.price as Number
    case .stock: $.stock as Number
}*/


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="StartWrite" doc:id="68f5ec1b-b1fe-482d-95d6-bf72603fed80" message='#[{&#10;	"step" :"StartWrite createProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : payload&#10;		}&#10;	}&#10;}]' />
		<sftp:write doc:name="Write" doc:id="7b390136-40c7-4856-8b3e-f8841d65913c" config-ref="SFTP_Config" path="${sftp.fn}" mode="APPEND"/>
		<set-payload value='#[output json&#10;---&#10;message: "The product has been created successfully"]' doc:name="Set Payload" doc:id="a738f3b1-9e61-4b7d-a53e-d3a8d87c16ab" />
		<logger level="INFO" doc:name="End" doc:id="5c2002ad-ef22-461f-84ed-f428477f05b2" message='#[{&#10;	"step" :"End createProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : payload&#10;		}&#10;	}&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2ea84328-9dab-43b9-b43d-922dcdf63d48" type="VALIDATION:NOT_EMPTY_COLLECTION" >
				<set-payload value='#[output json&#10;---&#10;message: "The ID already exist."]' doc:name="Product Not Acceptable" doc:id="80735c99-85de-4e64-a250-a4e0b32dc4b0" mimeType="application/json" />
				<set-variable value="406" doc:name="[httpStatus]" doc:id="c32c072e-0f86-4679-8d58-2f127caaeab8" variableName="httpStatus" mimeType="application/json" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="sub-product-delete" doc:id="d1b795d6-8dc7-479e-93fa-64c50e34f829" >
		<logger level="INFO" doc:name="Start" doc:id="54853e52-1d6c-4b78-9eb2-9ca52c4a4024" message='#[{&#10;	"step" :"Start deleteProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : vars.productId&#10;		}&#10;	}&#10;}]' />
		<sftp:read doc:name="Read" doc:id="d0765d79-c66a-4f20-9523-0eeeb13c5291" config-ref="SFTP_Config" path="${sftp.fn}" />
		<set-variable value="#[output json&#10;&#10;&#10; var filtered = payload filter ($.id != vars.productId)&#10; &#10;---&#10;&#10;filtered]" doc:name="[filteredProducts]" doc:id="0bedffa2-5671-4e4d-b2cd-1b03d5852a18" variableName="filteredProducts" />
		<set-variable value="#[output json&#10;&#10;&#10; var exists = payload filter ($.id == vars.productId)&#10;&#10;&#10;---&#10;exists]" doc:name="[varExists]" doc:id="247785c9-3cdd-4fed-990a-b3814a7e78b0" variableName="varExists" />
		<logger level="INFO" doc:name="End1" doc:id="0ce3f91a-e0df-4fea-8084-e6f750650fd1" message='#[{&#10;	"step" :"End deleteProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : vars.varExists&#10;		}&#10;	}&#10;}]' />
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="d183fe3c-5b28-4268-8910-7bcf0c336e47" values="#[vars.varExists]"/>
		<ee:transform doc:name="Transform Message" doc:id="f330f015-b05e-4fd4-a4ee-7035e3c46d2d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv header=true

---

vars.filteredProducts]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sftp:write doc:name="Write" doc:id="b6938a25-8429-4705-8faa-ab49ed2be23b" config-ref="SFTP_Config" path="${sftp.fn}">
		</sftp:write>
		<set-payload value='#[output json&#10;---&#10;message: "The product has been deleted successfully"]' doc:name="Set Payload" doc:id="0dbd73b9-b38f-495d-9388-4f1b3f57903e" />
		<logger level="INFO" doc:name="End" doc:id="d82bcc29-8074-4667-8568-98f1a426fcdf" message='#[{&#10;	"step" :"End deleteProduct flow",&#10;	"data" : {&#10;		"business" :{&#10;			&#10;		},&#10;		"technical":{&#10;			"payload" : vars.filteredProducts&#10;		}&#10;	}&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d88805e0-8fdb-4f98-bfdf-0915a5183e5f" type="VALIDATION:EMPTY_COLLECTION" >
				<set-payload value='#[output json&#10;---&#10;message: "Product not found"]' doc:name="Product Not Found" doc:id="87beae0f-a58a-45be-a23d-b5427050c66f" mimeType="application/json" />
				<set-variable value="404" doc:name="[httpStatus]" doc:id="6c02b07d-5a5d-4cd2-9db0-9a7d809d95dc" variableName="httpStatus" mimeType="application/json" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
