src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getInvoices" doc:id="5ddd7b31-f2a9-446e-8a81-d0dc46f281af" >
		<sftp:read doc:name="Read" doc:id="dbfcb1e2-9400-4225-b956-70a97322bd0d" config-ref="SFTP_Config" path="invoices.json"/>
		<ee:transform doc:name="Transform Message" doc:id="54e45901-53c5-437d-8239-316768db3a77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json

var currencyParam = vars.currency

var filteredByCurrency =
    if (currencyParam == null)
        payload
    else
        payload filter (
            upper($.data.currency) == upper(currencyParam)
        )

fun formatDate(date) = 
date as DateTime {format: "yyyy/MM/dd hh:mm:ss"}
---

filteredByCurrency map(
    (invoice,index)-> do
        {
            var item = invoice.data
            var itemAddress = item.customer_address
            var lineItem =  item.lines.data
            
            ---
                {
                    "id" : item.id,
                    "total" : sum(lineItem.amount),
                    "currency": upper(item.currency),
                    "date": formatDate(item.created),
                    "customer":
                    {
                        "id" : item.customer,
                        "city": itemAddress.city,
                        "country": itemAddress.country,
                        "postalCode": itemAddress.postal_code,
                        "email": item.customer_email,
                        "name": item.customer_name,
                        "phone": item.customer_phone,
                        "lineItems":
                        {
                            "id": lineItem.id,
                            "amount": lineItem.amount
                        }
                    }
                }
        }
    )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2b6a8279-f776-49da-b736-16659f51b432" />
	</flow>
	<flow name="getInvoiceById" doc:id="ab0ddc4d-c12c-4e14-82cd-d3521100aa17" >
		<sftp:read doc:name="Read" doc:id="03f7eefc-973d-4782-bf63-61332bcf5410" config-ref="SFTP_Config" path="invoices.json"/>
		<ee:transform doc:name="Transform Message" doc:id="4bf283ac-be28-4ab4-a67a-0dc69180366e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output json

var invoiceIdParam = vars.invoiceId

var filteredById =
    if (invoiceIdParam == null)
        payload
    else
        payload filter (
            upper($.data.id) == upper(invoiceIdParam)
        )

fun formatDate(date) = 
date as DateTime {format: "yyyy/MM/dd hh:mm:ss"}
---

filteredById map(
    (invoice,index)-> do
        {
            var item = invoice.data
            var itemAddress = item.customer_address
            var lineItem =  item.lines.data
            
            ---
                {
                    "id" : item.id,
                    "total" : sum(lineItem.amount),
                    "currency": upper(item.currency),
                    "date": formatDate(item.created),
                    "customer":
                    {
                        "id" : item.customer,
                        "city": itemAddress.city,
                        "country": itemAddress.country,
                        "postalCode": itemAddress.postal_code,
                        "email": item.customer_email,
                        "name": item.customer_name,
                        "phone": item.customer_phone,
                        "lineItems":
                        {
                            "id": lineItem.id,
                            "amount": lineItem.amount
                        }
                    }
                }
        }
    )]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="94eb7737-ff99-494b-a720-104f5a3218d0" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:SORRY" />
		</validation:is-not-empty-collection>
		<logger level="INFO" doc:name="Logger" doc:id="8e190686-c789-45c8-967a-e483f7f55ef3" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b4e0fddf-f9b4-4b4d-9fb8-a2affa4fc37d" type="APP:SORRY">
				<set-payload value='#[output json&#10;---&#10;message: "invoice not found for customer " ++ (vars.invoiceId default "unknown")]' doc:name="Invoice not found" doc:id="a99a3bbd-4d3a-4a2e-ad51-bdaf6e500514" mimeType="application/json"/>
				<set-variable value="707" doc:name="httpStatus" doc:id="f89d00f3-e4f2-4461-a16f-db9ea8c057ee" variableName="httpStatus" mimeType="application/json"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
