src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sys-sftp-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sys-sftp-config" api="resource::b2f6554e-0c52-496f-bf8d-085c9f4ad625:raml_tp2:1.0.5:raml:zip:sys-sftp.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sys-sftp-main">
        <http:listener config-ref="sys-sftp-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sys-sftp-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\invoices:sys-sftp-config">
        <set-variable value="#[message.attributes.queryParams.currency default &quot;&quot;]" doc:name="[currency]" doc:id="266ecb86-950f-4a50-830f-4899bcbc6c4a" variableName="currency" />
        <flow-ref doc:name="sub-invoice-getAll" doc:id="c3d90c6d-f36a-4f56-ba8a-e8fac4f737a8" name="sub-invoices-getAll" />
    </flow>
    <flow name="get:\invoices\(id):sys-sftp-config">
        <set-variable value="#[attributes.uriParams.id]" doc:name="[invoiceId]" doc:id="2092b107-163a-44b0-b2a7-1e8021572a46" variableName="invoiceId" />
        <flow-ref doc:name="sub-invoice-getById" doc:id="28909efd-482d-480c-8dc0-0194c224af0d" name="sub-invoice-getById" />
    </flow>
    <flow name="get:\products:sys-sftp-config">
        <set-variable value="#[message.attributes.queryParams.category default &quot;&quot;]" doc:name="[category]" doc:id="fd8eb408-048d-4148-ae4a-4f0f936c2184" variableName="category" />
        <flow-ref doc:name="sub-product-getAll" doc:id="6da9ce62-0b97-4508-aed4-5ba76d306748" name="sub-product-getAll" />
    </flow>
    <flow name="post:\products:application\json:sys-sftp-config">
        <set-variable value="#[payload]" doc:name="[product]" doc:id="bcefad3f-b1fd-4ebb-81ec-96d293a85df6" variableName="product" />
        <flow-ref doc:name="sub-product-create" doc:id="9ae39a40-bafd-4de1-8910-4e6af71b487e" name="sub-product-create" />
    </flow>
    <flow name="post:\products\(id):sys-sftp-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  correlationId: "fe5zef1-194b-475c-8dee-0zef56zf4180",
  statusCode: 404,
  namespace: "RESOURCE_NAME",
  identifier: "NOT_FOUND",
  description: "product not found with id xxx"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\products\(id):sys-sftp-config">
		<set-variable value='#[attributes.uriParams.id]' doc:name="[productId]" doc:id="5fde4170-7989-462c-9382-8a5fa913dfcb" variableName="productId"/>
		<set-variable value='#[message.attributes.queryParams.qty default null]' doc:name="[quantity]" doc:id="d44857c2-8049-4c06-a93c-8819ec895f83" variableName="quantity" />
		<flow-ref doc:name="sub-product-delete" doc:id="102eac9e-b66e-4d32-ad14-e74ad5c8ece9" name="sub-product-delete"/>
    </flow>
</mule>
